ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__FinanceDatabase=Host=localhost;Port=5432;Database=bancosol_finance;Username=postgres;Password=CHANGE_ME
ConnectionStrings__FinanceTestDatabase=Host=localhost;Port=5432;Database=bancosol_finance_tests;Username=postgres;Password=CHANGE_ME
HexaRate__BaseUrl=https://hexarate.paikama.co/
